html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  line-height: 20px;
  font-weight: 400;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input, textarea, button, img {
  outline: none;
  :focus {
    outline: none;
  }
  ::-moz-focus-inner {
    border: 0;
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

.br-is-tables {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1180px) {

  .br-is-tables {
    display: block;
  }

}