html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $fontMain;
  font-size: $fontSizeM;
  line-height: 20px;
  font-weight: 400;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input, textarea, button, img {
  outline: none;
  :focus {
    outline: none;
  }
  ::-moz-focus-inner {
    border: 0;
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}