.btn {
  display: inline-block;
  font-size: $fontSizeM;
  line-height: 32px;
  text-align: center;
  color: $colorWhite;
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 3px;

  &--color-orange {
    background-color: $colorOrange;
  }

  &--color-green {
    background-color: $colorGreen;
  }

  &--color-red {
    background-color: $colorRed;
  }

  &--color-violet {
    background-color: $colorViolet;
  }

  &--color-brown {
    background-color: $colorBrown;
  }

  &--color-blue {
    background-color: $colorBlue;
  }

  &--color-yellow {
    background-color: $colorYellow;
  }
}