.btn {
  display: block;
  color: $colorTextMain;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: $borderRadius;
  width: 100%;
  text-align: center;

  &--burger {
    cursor: pointer;
    position: relative;
    top: 11px;
    z-index: 3;
    width: 26px;
    height: 18px;
    border-top: 2px solid $colorBlue;
    border-bottom: 2px solid $colorBlue;
    border-radius: 0;
    &::before {
      position: absolute;
      display: block;
      top: 6px;
      content: '';
      width: 100%;
      height: 2px;
      background-color: $colorBlue;
    }
  }

  &--orange {
    font-size: $fontSizeXS;
    background-color: $colorOrange;
    max-width: 210px;
    line-height: 40px;
  }

  &--blue {
    font-size: $fontSizeS;
    color: $colorWhite;
    background-color: $colorBlue;
    max-width: 310px;
    line-height: 50px;
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn {

    &--blue {
      font-size: $fontSizeXS;
      max-width: 280px;
      line-height: 40px;
    }
  }
}