.card {
  text-decoration: none;

  &__description {
    display: flex;
  }

  &__left {
    margin-right: 57px;
  }

  &__img {
    margin-bottom: 20px;
  }

  &__text {
    font-size: $fontSizeS;
    line-height: 20px;
    color: $colorBlack;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    &--color-orange, &--color-green, &--color-red, &--color-violet, &--color-brown, &--color-blue, &--color-yellow {
      font-weight: bold;
    }

    &--color-orange {
      color: $colorOrange;
    }

    &--color-green {
      color: $colorGreen;
    }

    &--color-red {
      color: $colorRed;
    }

    &--color-violet {
      color: $colorViolet;
    }

    &--color-brown {
      color: $colorBrown;
    }

    &--color-blue {
      color: $colorBlue;
    }

    &--color-yellow {
      color: $colorYellow;
    }
  }
}