.footer {
  padding-bottom: 60px;

  &__top {
    margin-bottom: 34px;
  }

  &__social {
    margin-left: auto;
    margin-right: 21px;
  }

  &__left {
    margin-right: 87px;
  }

  &__right {
    margin-left: auto;
    text-align: right;
  }

  &__tel {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 5px;
  }

  &__text {
    font-size: 14px;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  &__img-rating {
    margin-left: 10px;
  }

}

@media screen and (min-width: 320px) and (max-width: 676px) {

  .footer {

    &__top {
      flex-direction: column;
      align-items: flex-start !important;
      margin-bottom: 22px;
    }

    &__bottom {
      flex-direction: column;
    }

    &__info-company {
      margin-bottom: 23px;
    }

    &__social {
      margin-left: 0;
      margin-bottom: 24px;
    }

    &__btn {
      max-width: 280px;
    }

    &__left {
      margin-right: 0;
      margin-bottom: 25px;
    }

    &__text {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 0;
    }

    &__center {
      max-width: 250px;
      margin-bottom: 25px;
    }

    &__right {
      margin-left: 0;
      text-align: left;
    }

    &__right p:last-child {
      margin-top: 10px;
    }

    &__right-wrapper {
      justify-content: flex-start !important;
      align-items: flex-start !important;
    }

    &__img-rating {
      margin-bottom: 10px;
    }

  }

}