.header {
  margin-top: 39px;

  &__info-company {
    margin-left: 78px;
    margin-top: 17px;
  }

  &__tel {
    margin-left: auto;
    margin-top: 19px;
    margin-right: 31px;
  }

  &__btn {
    margin-top: 10px;
    align-self: flex-start;
  }

  &__burger {
    display: none;
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    margin-top: 15px;

    &__info-company, &__tel, &__btn {
      display: none;
    }

    &__burger {
      display: block;
      margin-left: auto;
    }
  }
}