.info-company {

  &__item {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }

  &--ml-78 {
    margin-left: 78px;
  }

  &--mt-17 {
    margin-top: 17px;
  }

  &--mr-227 {
    margin-right: 227px;
  }

}