.info-company {

  &__list {

    &--burger {

    }
  }

  &__item {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }

    &--burger {
      margin-right: 0;
      margin-bottom: 26px;
      text-align: center;
    }
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .info-company {

    &__item {
      margin-right: 20px;
    }

  }

}