.link {
  color: $colorTextMain;
  font-size: $fontSizeXS;
  text-transform: uppercase;
  text-decoration: none;

  &--tel {
    font-size: $fontSizeS;
    font-weight: 800;
    &-upper {
      font-size: $fontSizeL;
      line-height: 29px;
      letter-spacing: 1px;
    }
    &-lower {
      font-size: 14px;
      line-height: 23px;
    }
  }

  &--tag {
    color: $colorBlue;
    line-height: 18px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1180px) {

  .link {

    &--tag {
      font-size: 11px;
      line-height: 15px;
    }

    &--tel {
      &-upper {
        font-size: 18px;
        line-height: 21px;
      }
    }

    &--small {
      font-size: 11px;
      line-height: 15px;
    }
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .link {

    &--tag {
      font-size: 11px;
      line-height: 15px;
    }

    &--tel {
      &-upper {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.75px;
      }
    }

    &--small {
      font-size: 11px;
    }

  }

}