.link {
  color: $colorTextMain;
  font-size: $fontSizeXS;
  text-transform: uppercase;
  text-decoration: none;

  &--tel {
    font-size: $fontSizeS;
    font-weight: 800;
  }

  &--tag {
    color: $colorBlue;
    line-height: 18px;
  }

}