.preview {
  margin-left: 100px;
  margin-bottom: 83px;

  &__left {
    max-width: 480px;
    width: 100%;
    margin-right: 30px;
  }

  &__title {
    margin-bottom: 27px;
  }

  &__text {
    margin-bottom: 34px;
  }

  &__btn {
    margin-bottom: 106px;
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .preview {
    position: relative;
    margin-left: 0px;
    margin-bottom: 49px;
    flex-direction: column;

    &__title {
      position: relative;
      z-index: 2;
      margin-top: 80px;
      margin-bottom: 13px;
    }

    &__text {
      margin-bottom: 20px;
    }

    &__right {
      position: absolute;
      z-index: 1;
      top: -60px;
      right: -20px;
      width: 244px;
      height: 220px;
      background-image: url('../img/img__spine--mobile.png');
      background-repeat: no-repeat;
      background-position: 100%;
    }

    &__img {
      display: none;
    }

    &__btn {
      margin-bottom: 0;
    }

    &__social {
      display: none;
    }
  }
}