.slider {
  &__control {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 24px;
  }

  &__tabs {
    display: flex;
  }
  
  &__tab {
    cursor: pointer;
    font-size: $fontSizeM;
    line-height: 28px;
    font-weight: bold;
    padding-bottom: 15px;
    margin-right: 32px ;
    transition: color 0.25s ease;

    &--ub {
      color: $colorOrange;
      border-bottom: 4px solid $colorOrange;
      &:hover {
        color: $colorOrange;
      }
    }

    &--akadem {
      color: $colorGreen;
      border-bottom: 4px solid $colorGreen;
      &:hover {
        color: $colorGreen;
      }
    }

    &--bograda {
      color: $colorRed;
      border-bottom: 4px solid $colorRed;
      &:hover {
        color: $colorRed;
      }
    }

    &--alex {
      color: $colorViolet;
      border-bottom: 4px solid $colorViolet;
      &:hover {
        color: $colorViolet;
      }
    }

    &--vzlet {
      color: $colorBrown;
      border-bottom: 4px solid $colorBrown;
      &:hover {
        color: $colorBrown;
      }
    }

    &--obrazcovo {
      color: $colorYellow;
      border-bottom: 4px solid $colorYellow;
      &:hover {
        color: $colorYellow;
      }
    }

    &--svet {
      color: $colorBlue;
      border-bottom: 4px solid $colorBlue;
      &:hover {
        color: $colorBlue;
      }
    }

    &--default {
      color: $colorGrey;
      border-bottom: 4px solid transparent;
    }
  }

  &__arrows {
    display: flex;
  }

  &__arrow {
    display: block;
    cursor: pointer;
    position: relative;
    top: -13px;
    border-radius: 3px;
    border: 1px solid $colorBlack;
    width: 48px;
    height: 48px;

    &:first-child {
      margin-right: 7px;
    }

    &::before {
      display: block;
      position: absolute;
      content: '';
      width: 12px;
      height: 12px;
      border-left: 1px solid $colorBlack;;
      border-bottom: 1px solid $colorBlack;
      top: calc(50% - 6px);
    }

    &--prev {
      &::before {
        left: calc(50% - 4px);
        transform: rotate(45deg);
      }
    }

    &--next {
      &::before {
        left: calc(50% - 8px);
        transform: rotate(-135deg);
      }
    }

    &--disable {
      border: 1px solid rgba(0, 0, 0, 0.2);

      &::before {
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    &--hide {
      display: none;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__bottom {
    &--btn-position {
      margin: 80px auto;
    }
  }

}