.social {

  &__list {

  }

  &__item {
    margin-right: 10px;
  }

  &__item-hidden {
    visibility: hidden;
    opacity: 0;
  }

  &__link {
    display: block;
    width: 30px;
    height: 30px;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &--ph {
      background-image: url('/img/icon__social--ph.png');
    }
    &--insta {
      background-image: url('/img/icon__social--insta.png');
    }
    &--tw {
      background-image: url('/img/icon__social--tw.png');
    }
    &--fb {
      background-image: url('/img/icon__social--fb.png');
    }
  }



}