.testimonials {
  margin-bottom: 181px;

  &__title {
    margin-left: 100px;
    margin-bottom: 38px;
  }

  &__wrapper {
    position: relative;
    width: 760px;
    margin-left: 300px;
    &::before {
      display: block;
      position: absolute;
      content: '';
      width: 130px;
      height: 100px;
      background-image: url('/img/icon__testimonials--quote.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      top: 0;
      left: -203px;
    }
  }

  &__item {
    width: 360px;
    min-height: 360px;
    background-color: $colorSkiye;
    border-radius: $borderRadius;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    &:nth-child(odd) {
      margin-right: 20px;
    }
    &:nth-child(even) {
      margin-left: 20px;
    }
  }

  &__rating {
    margin-bottom: 15px;
  }

  &__text {
    line-height: 26px;
    margin-bottom: 10px;
  }

  &__author {
    margin-top: 22px;
    font-weight: bold;
  }


  &__arrow-left, &__arrow-right {
    cursor: pointer;
    position: absolute;
    bottom: -60px;
    display: block;
    width: 32px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &__arrow-left {
    left: -3px;
    transform: rotateY(-180deg);
    background-image: url('/img/icon__slider--arrow-right.png');
  }

  &__arrow-left.slick-disabled {
    transform: rotateY(0deg);
    background-image: url('/img/icon__slider--arrow-left.png');
  }

  &__arrow-right {
    right: -3px;
    background-image: url('/img/icon__slider--arrow-right.png');
  }

  &__arrow-right.slick-disabled {
    transform: rotateY(-180deg);
    background-image: url('/img/icon__slider--arrow-left.png');
  }

}