.title {
  font-family: $fontOffensive;
  font-size: $fontSizeXL;
  font-weight: bold;
  line-height: 44px;
  letter-spacing: 1px;

  &::before {
    display: block;
    content: '';
    width: 110px;
    height: 5px;
    background: $colorBlue;
    border-radius: $borderRadius;
    margin-bottom: 33px;
  }

  &--major {
    font-size: $fontSizeXXL;
    line-height: 67px;
    margin-bottom: 27px;
  }

  &--lower {
    font-size: $fontSizeL;
    line-height: 28px;
    font-weight: bold;

    &::before {
      display: none;
    }
  }

  &--small {
    font-size: $fontSizeM;
    font-weight: bold;
    line-height: 21px;
    letter-spacing: 0;

    &::before {
      display: none;
    }
  }

}

@media screen and (min-width: 767px) and (max-width: 1180px) {

  .title {
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0;

    &::before {
      width: 80px;
      height: 3px;
      margin-bottom: 21px;
    }

    &--major {
      font-size: 28px;
      line-height: 32px;
      letter-spacing: 1px;
    }

    &--lower {
      font-size: 18px;
      line-height: 21px;
    }
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .title {
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0;

    &::before {
      width: 80px;
      height: 3px;
      margin-bottom: 17px;
    }

    &--small {
      font-size: 14px;
      font-weight: bold;
      line-height: 17px;
      letter-spacing: 0;
    }

    &--major {
      font-size: 28px;
      line-height: 32px;
      letter-spacing: 1px;
    }
  }

}