.wrapper {

  &--flex {
    display: flex;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--around {
    justify-content: space-between;
  }

  &--end {
    justify-content: flex-end;
  }

  &--align-center {
    align-items: center;
  }



}