// Font-family //

$fontMain: 'Open Sans', sans-serif;
$fontOffensive: 'Montserrat', sans-serif;

// Font-size //

$fontSizeS: 15px;
$fontSizeM: 16px;
$fontSizeL: 17px;
$fontSizeXL: 42px;

// Theme Colors //

$colorBlack: #1B181C;
$colorWhite: #FFF;
$colorOrange: #F8903D;
$colorRed: #CE1034;
$colorGrey: #A9A9A9;

// Border-radius //
//
//$borderRadius: 10px;
//$borderRadiusHalf: 10px 10px 0px 0px;
