// Font-family //

$fontMain: 'Open Sans', sans-serif;
$fontOffensive: 'Montserrat', sans-serif;

// Font-size //

$fontSizeXS: 13px;
$fontSizeS: 16px;
$fontSizeM: 18px;
$fontSizeL: 24px;
$fontSizeXL: 38px;
$fontSizeXXL: 58px;

// Theme Colors //

$colorTextMain: #3A4959;
$colorWhite: #fff;
$colorWhiteBlue: #F5FAFF;
$colorBlue: #056CDE;
$colorOrange: #FFCE51;

// Border-radius //

$borderRadius: 10px;
$borderRadiusHalf: 10px 10px 0px 0px;
