// Font-family //

$fontMain: 'Open Sans', sans-serif;
$fontOffensive: 'Montserrat', sans-serif;

// Font-size //

$fontSizeS: 15px;
$fontSizeM: 16px;
$fontSizeL: 17px;
$fontSizeXL: 42px;

// Theme Colors //

$colorBlack: #1B181C;
$colorWhite: #FFF;
$colorOrange: #F8903D;
$colorYellow: #FEA928;
$colorRed: #CE1034;
$colorBlue: #2389CA;
$colorGrey: #A9A9A9;
$colorBrown: #693315;
$colorGreen: #6D852A;
$colorViolet: #8E7498;
